bio>=1.6.2
bioblend>=1.2.0
fastparquet>=2024.11.0
jsonapi-client>=0.9.9
jupyter==1.1.1
jupyter_bokeh>=4.0.5
matplotlib>=3.5.3
numpy>=2.2.0
pandas>=2.2.3
panel>=1.5.5
pingouin>=0.5.4
pyarrow>=14.0.1
pyngrok>=7.2.3
pyspark>=3.5.4
python-dotenv==1.0.1
scikit-bio>=0.6.3
seaborn>=0.13.0
sourmash>=4.8.14
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability